<nav>
    <a id="nav_home" href="{% url 'home' %}">Home</a>

        <ul>
            {% if not request.user.is_authenticated %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'register' %}">Create an Account</a></li>
            {% else %}
                <li><a href="{% url 'change-password' %}">Change Password</a></li>
                <li><a href="{% url 'change-profile' %}">Change Profile</a></li>
                <li><a href="{% url 'home' %}">Change Email</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% endif %}
        </ul>
</nav>