* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

div > h1 {
    font-weight: 300;
    margin-bottom: 1rem;
}

nav {
    background-color: #343A3F;
    padding-block: 1.5rem;
    margin-bottom: 1.2rem;
    display: flex;
    gap: 2em;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

nav #nav_home {
    color: #FFF;
    font-size: 1.6rem;
}

nav ul li a {
    color: #939598;
}

body > * {
    padding-left: 1.5rem;
}

#login h1 {
    margin-bottom: 1.2rem;
}

#login form {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-bottom: 0.4rem;
}

#login form > input {
    padding-block: 0.4rem;
    padding-left: 0.6rem;
}

#login form > input[type=submit] {
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.6em 0.8em;
    background-color: #017BFE;
    color: #FFF;
    border-style: none;
    border-radius: 0.2rem;
}

#login hr {
    max-width: 50%;
    margin-block: 1rem;
}

#login > ul {
    padding-left: 1.2rem;
}

#login > ul a {
    text-decoration: none;
    color: #017BFE;
}

#change-password-page form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50%;
    font-weight: 300;
}

#change-password-page form ul {
    margin-left: 2rem;
    font-size: 0.85rem;
    color: #888;
}

#change-password-page form input {
    padding-block: 0.6rem;
    padding-left: 0.8rem;
}

#change-password-page form > input[type=submit] {
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.6em 0.8em;
    background-color: #28A745;
    color: #FFF;
    border-style: none;
    border-radius: 0.2rem;
}

#displaymessages {
    position: relative;
    display: flex;
    justify-content: center;
}

#displaymessages #displaymessage {
    position: absolute;
    margin-top: 1rem;
    padding: 0.4rem 0.8rem;
    background-color: #FFF;
    border: 1px solid #000;
    box-shadow: 0px 5px 5px #000;
}

#register-page form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50%;
    font-weight: 300;
}

#register-page form .fieldWrapper {
    display: flex;
    flex-direction: column;
}